torch>=2.0.0
mmcv>=2.0.0rc4
importlib_metadata
mat4py

torchvision
lightning==2.0.1
mmengine
openmim
wandb
redis
scikit-learn
scikit-image
tenacity
torchmetrics
tensorboardx
transformers
ipdb
prettytable
einops

imageio
pycocotools
shapely
terminaltables
albumentations